@model Common.Models.Mappingmodel

@{
    ViewBag.Title = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><span style="color:red">Sorry!!!. This file has been already Downloaded..</span></h2>

