@model Common.Models.ClinicModel

@{
    ViewBag.Title = "ClinicUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<script src="~/Scripts/jquery-1.7.1.js"></script> 
<script src="~/Scripts/ValidateUpload.js"></script> 

<h2>Clinic Upload</h2> 
@using (Html.BeginForm("ClinicUpload", "Clinic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>SiteID:</td>
            <td>  
                 <input id="txtSiteid" type="text" name="siteid" /> 
            </td>
        </tr>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" id="fileUpload" name="clinicfile"/>
                <span class="field-validation-error" id="spanfile"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" id="btnSubmit" value="Upload"/>
            </td>
        </tr>
    </table>
}
