<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="no-reply@healthdataexchange.com" deliveryMethod="Network">
        <network host="10.240.16.202" port="25" userName="" password="" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="ClinicDownloadURL" value="" />
    <add key="MappingPath" value="/Sites/" />
    <add key="DownloadableStatus" value="/Sites/DownloadableStatus/" />
    <add key="MappingFile" value="/Sites/Site_Info.txt" />
    <add key="DocutapDirectory" value="/Content/DocutapUpload/" />
    <add key="ClinicDirectory" value="/Content/ClinicUpload/" />

    <add key="FromMail" value="no-reply@docutap.com" />
    <add key="SubjectSucess" value="Uploaded Excelsheet Confirmation Mail" />
    <add key="SubjectFailure" value="Uploaded Excelsheet Failed" />
    <add key="ClinicDownloadURL" value="http://localhost:6666/ClinicPage" />
    
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
          <binding name="ExampleBinding" transferMode="Streamed"/>
      </basicHttpBinding>
    </bindings>
    <!--<bindings>
      <netMsmqBinding>
  <binding name="netMsmqBinding_IMyServiceInterface"   transferMode="Streamed"/
           exactlyOnce="true" 
           maxRetryCycles="3" 
           retryCycleDelay="00:01:00" 
           receiveErrorHandling="Move">  
  </binding>
</netMsmqBinding> 
    </bindings>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
